# Ignore Remix IDE specific folders
.deploys/
.deps/
artifacts/

# More specific ignores based on the structure you're seeing
.deploys/pinned-contracts
# Ignore Git folder
.git/

# Optionally, ignore other common files/folders
node_modules/
build/
*.log

# Ignore Solidity compiler output
*.abi
*.bin